* {
  margin: 0;
  padding: 0;
}

html, body, #main {
  height:100vh;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  /* justify-content: space-around; */
  /* height: 100%; */
}

.convas {
  width: 100%;
  justify-self: center;
  /* display:block; */
  /* height: auto; */
}

@font-face {
  font-family: 'KulminoituvaRegular';
  src: url('http://www.miketaylr.com/f/kulminoituva.ttf');
}